@font-face {
  font-family: "GilroyMedium";
  src: url("./assets/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
